h2{
  position: absolute;
  text-align: center;
}

.gameicon{
  position: relative;
  left :0px;
  top:20px;
  width: 100px;
}

#infoWindow{
  width: 800px;
  height: 600px;
  position: absolute;
  top:200px;
  left:200px;
  background-color: purple;
  display: none;
}




#nm{
  position: absolute;
  left: 280px;
  top: 250px;
  color: white;
}

#pp{
  position: absolute;
  left: 700px;
  top: 420px;
  color: pink;
}

#pp:hover{
  position: absolute;
  left: 700px;
  top: 420px;
  color: red;
}

#sms{
  position: absolute;
  left: 370px;
  top: 450px;
  color: orange;
}

#pt{
  position: absolute;
  left: 700px;
  top: 240px;
  color: coral
}

#fj{
  top:440px;
  left:145px;
  position:absolute;
  color:lightblue;
}
