.icon{
  text-align: center;
}
.rightrow > .rightcolumn {
  padding: 1% 1%;

}
.rightrow:after {
  content: "";
  display: table;
  clear: both;
}
.rightrow{
  position: fixed;
  right: 0;
  top:0;
}

