body{
  background-color: black;
  font-family: "Lucida Console", Courier, monospace;
  color: white;
}

.scrollbox{
  width: 60%;
  height: 60px;
  right: 200px;
  top: 2px;
  position: absolute;
  background-color: transparent;
  color: #42FF00;
}

a{
  font-style: italic;
  color: lime;
}

.link{
  font-style: italic;
  color: white;
}

.link:hover{
  text-decoration: underline;
  color: gold;
}


.button {
  background-color: #42FF00;
  border: none;
  color: black;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  cursor: pointer;
}
