#draggable-about-me {
    position: absolute;
    z-index: 9;
    cursor: move;
    display: none;
    max-width: 300px;
    border: #ececec double 5px; /* Border around the gallery */
    background-color: #2600ff80;
}
