.icon{
  width: 100px;
  text-align: center;
}

#row1{
  position: absolute;
  top: 100px;
  left: 180px;
  width: 70%;
  background-color: blue;
}

#icon1{
  position: absolute;
  left: 200px;
  top: 220px;
}


#icon2{
  position: absolute;
  left: 450px;
  top: 220px;
  color: pink;
}

#icon3{
  position: absolute;
  left: 700px;
  top: 220px;
  color: pink;
}

#icon4{
  position: absolute;
  left: 950px;
  top: 220px;
  color: pink;
}

#icon5{
  position: absolute;
  left: 1200px;
  top: 220px;
  color: pink;
}
