.icon{
  width: 100px;
  text-align: center;
}

#title1{
  position: absolute;
  top: 120px;
  left: 180px;
  width: 25%;
  background-color: blue;
}

#title1_2{
  position: absolute;
  top: 120px;
  left: 920px;
  width: 25%;
  background-color: orange;
}

#title2{
  position: absolute;
  top: 520px;
  left: 180px;
  width: 25%;
  background-color: purple;
}

#title2_2{
  position: absolute;
  top: 520px;
  left: 920px;
  width: 25%;
  background-color: darkcyan;
}

#title3{
  position: absolute;
  top: 920px;
  left: 180px;
  width: 70%;
  background-color: darkcyan;
}

.row1{
  position: absolute;
  top:220px;
}

.row2{
  position: absolute;
  top:620px;
}

.row3{
  position: absolute;
  top:1020px;
}

.col1{
  left: 200px;
}

.col2{
  position: absolute;
  left: 450px;
}

.col3{
  position: absolute;
  left: 700px;
}

.col4{
  position: absolute;
  left: 950px;
}

.col5{
  position: absolute;
  left: 1200px;
}
