.icon{
  width: 100px;
  text-align: center;
}

#icon1{
  position: absolute;
  left: 200px;
  top: 220px;
  color: pink;
}

#icon2{
  position: absolute;
  left: 450px;
  top: 220px;
  color: pink;
}

#icon3{
  position: absolute;
  left: 700px;
  top: 220px;
  color: pink;
}
