.gallery-container {
  display: inline-block;
}

/* Fixed size for the image */
#current-image {
  height: 250px;
  width: 250px;
  object-fit: cover;
  overflow: hidden;
  display: inline;
}

/* Styling for the text description */
#image-text {
  font-size: 1.2em; /* Font size */
  color: aliceblue;
  display: inline-block;
  margin-left: 10px;
  
}


