#infoWindow{
  width: 80vw;
  height: 70vh;
  position: absolute;
  top:10vh;
  left:100px;
  background-color: purple;
  display: none;
  border-radius: 4px;
}

#closeWindow{
  right: 0px;
  top: 0px;
  display: inline-block;
  position: absolute;
  background-color: red;
  padding: 10px 20px;
  text-align: center;
  color: white;
  font-size: 30px;
  border: none;
  border-radius: 4px;
}

#closeWindow:hover{
  background-color: tomato;
}

#icon{
  display: inline-block;
  left: 10px;
  top: 10px;
  width: 50px;
  height: 50px;
  position: absolute;
}

#title{
  display: inline-block;
  left: 80px;
  position: absolute;
}

#screenshot{
  display: inline-block;
  position: absolute;
  top: 80px;
  left: 30px;
  background-color: gray;
  height: 40vh;
}


#description{
  display: inline-block;
  position: absolute;
  left: 50px;
  top: 50vh;
}
