#infoWindow{
  background-color: rgb(118, 114, 131);
  cursor: move;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: right;
  width: 98vw;
  max-width: 1000px;
  min-height: 400px;
  display: inline-block;
  z-index: 3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


#icon{
  display: inline-block;
  width: 100px;
  height: 100px;
}

#title{
  display: inline-block;
  width: max-content;
}

#screenshot{
  display: inline-block;
  background-color: gray;
  width: 100%;
}

#iframePlayer{
  display: inline-block;
  background-color: gray;
  width:90%;
  min-height: 600px;
}


#description{
  text-align: right;
}

#playbutton{
  display: inline-block;
  font-weight: bold;
  font-size: larger;
  border: dotted 2px;
  cursor: pointer;
  text-align: right;
}

#videobutton{
  display: inline-block;
  font-weight: bold;
  font-size: larger;
  border: dotted 2px;
  cursor: pointer;
}

#closebutton{
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 3em;
}