#infoWindow{
  width: 60vh;
  height: 50vh;
  position: absolute;
  background-color: rgba(120, 120, 120, 0.7);
  display: none;
  border-radius: 4px;
  z-index: 3;
}

#closeWindow{
  right: 0px;
  top: 0px;
  display: inline-block;
  position: absolute;
  background-color: red;
  padding: 10px 20px;
  text-align: center;
  color: white;
  font-size: 30px;
  border: none;
  border-radius: 4px;
}

#closeWindow:hover{
  background-color: tomato;
}

#icon{
  display: inline-block;
  left: 10px;
  top: 10px;
  width: 50px;
  height: 50px;
  position: absolute;
}

#title{
  display: inline-block;
  left: 70px;
  text-align: left;
  position: absolute;
}

#screenshot{
  display: inline-block;
  position: absolute;
  top: 70px;
  left: 10px;
  background-color: gray;
  width: 50vh;
  height: 30vh;
}


#description{
  display: inline-block;
  position: absolute;
  left: 10px;
  top: 36vh;
  text-align: left;
}
