.rotatable-container {
    position: relative;
    display: inline-block;
    width: 600px;  
    height: 600px; 
    margin-bottom: 20px; 
}

@media only screen and (max-width: 768px) {
    .rotatable-container {
        max-width: 40vh;
        max-height: 40vh;
        overflow: hidden;
    }
}


.rotatable {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 100%;
    user-select: none;
    touch-action: none; /* Disable touch actions like zooming */
}

.rotatable-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    object-fit: contain; /* Ensures the image scales within its container */
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: contain; /* Ensures the image scales within its container */

}