/* Body styling */
body {
  background-image: url('../assets/images/resources/star_rain.gif');
  font-family: "Lucida Console", Courier, monospace;
  font-stretch: condensed;
  color: white;
  background-color: black;
}

.leftPanel{
  width: max-content;
  max-width: 15vw;
  margin: 5px;
}

.clickable{
  cursor: pointer;
  text-decoration: underline;
}

.clickable:hover{
  color: #42FF00;
}

.navigator{
  z-index: 5;
}

/* Scrollbox styling */
.scrollbox {
  width: 88%;
  height: 60px;
  right: 200px;
  top: 20px;
  position: absolute;
  color: #42FF00;
  z-index: -1;
}


/* Initially hide the second image */
.folder img:nth-child(2) {
  display: none;
}

/* Keep the hover effect */
.folder:hover img:nth-child(1) {
  display: none;
}
.folder:hover img:nth-child(2) {
  display: inline-block;
}

/* When a folder is clicked, apply the open class */
.folder.open img:nth-child(1) {
  display: none;
}
.folder.open img:nth-child(2) {
  display: inline-block;
}


.change img:nth-child(2){display:none;}
.change:hover img:first-child{display:none;}
.change:hover img:nth-child(2){display:inline-block;}

.change:hover{
  cursor: pointer;
  text-decoration: underline;
}

.item{
  display: inline-block;
}

/* Social media link background colors */
.social-link.itchio { background-color: coral; }
.social-link.instagram { background-color: hotpink; }
.social-link.artstation { background-color: blue; }
.social-link.github { background-color: black; }
.social-link.soundcloud { background-color: orange; }
.social-link.youtube { background-color: red; }
.social-link.bluesky{ background-color: #00ccff;}
.social-link.bilibili{ background-color: #2978ff;}

/* Social media link states */
a:link, .social-link:link {
  color: paleturquoise
}

a:visited, .social-link:visited {
  color: whitesmoke;
}

a:hover, .social-link:hover {
  color: greenyellow;
}

/* General styling for social media links */
.social-link {
  margin: 10px;
  padding: 5px;
  color: white;
  text-decoration: none;
}

.social-links {
  padding: 0;
  margin: 10px;
}

.social-links li {
  display: inline-block;
  margin: 10px;
}
